.box{
    width: 14rem;
    height: 14rem;
    font-size: 10rem;
}

#playerStart-container{
    top: 4rem;
    font-size: 4rem;
}

.reset-button {
    font-size: 4rem;
    padding: 2rem 4rem;
}